<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SIGN UP</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
	<div class="jumbotron">
		<h2 class="col-sm-offset-4">SIGN UP</h2>
		<h3><span id="status" class="label label-danger col-sm-offset-4" role="alert">{{msg}}</span></h3>
		<div class="form-horizontal" method="POST">
			<div class="form-group">
			<label for="inputEmail3" class="col-sm-4 control-label">USERNAME</label>
				<div class="col-sm-3">
					<input type="text" name="username" id="username" class="form-control" id="inputEmail3" required placeholder="ENTER USERNAME">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-4 control-label">PASSWORD</label>
				<div class="col-sm-3">
					<input type="password" name="password" id="password" class="form-control" id="inputPassword3" required placeholder="ENTER PASSWORD">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-4 control-label">CONFIRM PASSWORD</label>
				<div class="col-sm-3">
					<input type="password" name="confirmPass" id="confirmPass" class="form-control" id="inputPassword3" required placeholder="RE-ENTER PASSWORD">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-10">
					<button id="submit" class="btn btn-primary">SIGN UP</button>
				</div>
			</div>
		</div>
		<h4 class="col-sm-offset-3">ALREADY A USER?? THEN <a href="/login">LOGIN</a></h4>
		</div>
	</div>
	    <script src="public/js/jquery-2.1.3.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    	<script src="public/js/join.js"></script>
</body>
</html>