<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LOGIN</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
         <div class="jumbotron">
		<h2 class="col-sm-offset-4">LOGIN</h2>
                <br/>
		<h4><span id="status" class="label label-danger col-sm-offset-4" role="alert">{{msg}}</span></h4>
                <br/>
		<div class="form-horizontal">
			<div class="form-group">
			<label for="inputEmail3" class="col-sm-3 control-label">USERNAME</label>
				<div class="col-sm-4">
					<input type="text" id="username" value="{{username}}" class="form-control" id="inputEmail" required placeholder="ENTER USERNAME">
				</div>
			</div>
			<div class="form-group">
				<label for="inputPassword3" class="col-sm-3 control-label">PASSWORD</label>
				<div class="col-sm-4">
					<input type="password" id="password" class="form-control" id="inputPassword" required placeholder="ENTER PASSWORD">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-10">
                                        <br/>
					<button id="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</div>
                <br/>
		<h4 class="col-sm-offset-3">NOT YET A MEMBER?? THEN  <a href="/signup">SIGN UP</a></h4>
	</div>
       </div>
	<script src="public/js/jquery-2.1.3.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    	<script src="public/js/login.js"></script>
</body>
</html>
