<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME{{person.username}}</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
	<div class="jumbotron">
                 <br/>
                 <br/>
		<h2 class="col-sm-offset-2">HELLO {{user.username}} !!!!!</h2>
 		<div class="form-horizontal">
			<div class="form-group">
				<div class="col-sm-offset-4 col-sm-10">
                                        <br/>
                                        <br/>
					<button id="submit" class="btn btn-primary">LOGOUT</button>
			        </div>
		        </div>
           </div>
	 </div>
	 </div>
	<script src="public/js/jquery-2.1.3.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    	<script src="public/js/user.js"></script>
</body>
</html>